@page {
    size: A4;
    margin: 0;
}

html * {
    font-family: Lato;
}

h1 {
    font-family: JetBrains Mono;
    text-transform: none;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 25px;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding: 0px 40px;
}

.left {
    left: 0px;
    width: 25%;
    text-align: left;
    color: white;
    /* background: #3d76cf; */
    background: linear-gradient(135deg,#0570c8,#08175c 96%)
}

.header {
    /* text-align: center; */
    margin-top: 50px;
}
  
.right {
    left: 33%;
    margin-top: 0;
}

.header > h1 {
    font-size: 40px;
    margin-top: 0;
}

.header > h2 {
    color: white;
    font-size: 17px;
}


.job > h2 {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: grey;
}

.position {
    margin-left: 50px;
    padding-left: 10px;
    border-left: 1px solid grey;
}

.position > h3 {
    margin: 0;
    font-size: 17px;
}

.position > h4 {
    margin-top: 5px;
    color: grey;
    font-weight: lighter;
    margin-bottom: 7px;
    font-size: 12px;
}

.position > ul {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
    font-size: 12px;
    list-style-type: none;
}

.position > ul > li {
    margin-bottom: 5px;
    padding-left: 1em;
    text-indent: -1em;
}

.position > ul > li:before{
    content: ">";
    padding-right: 5px;
}

.skills > ul {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.skills > ul > li {
    margin-bottom: 5px;
}

p {
    font-size: 12px;
    text-align: justify;
}

.skills * {
    list-style-type: none;
    padding-left: 0 !important;
}

.skills > p {
    margin: 0;
}

.skills > h1 {
    margin-bottom: 10px;
    margin-top: 40px;
}

.inline-icon {
    vertical-align: middle;
    font-size: 18px !important;
    padding-right: 10px;
 }

.star-rating {
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    display: inline-block;
    width: 60px;
    letter-spacing: 5px;
}